.navbar {
	box-shadow: 2px 2px 5px #000;
	/*opacity: .9;*/
}

/*.navbar .nav-item .nav-link {
	color: #fff;
}*/

.main-header {
	position: relative;
	background: url(../img/nav1.jpg);
	background-size: cover;
	min-height: 568px;
}

.background-overlay {
	position: absolute;
	background: rgba(62, 88, 72, 0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-control, .btn {
	border-radius: 0;
}

.team, footer {
	background: #343a40;
}



.ir-arriba {
	display:none;
	/*padding:20px;*/
	/*background:#0099DE;*/
	font-size:20px;
	/*color:#fff;*/
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

